{% extends 'base.html' %}
{% block content %}

<div style="text-align: center;">
    <h3> Functionality and Uses for Anime Reviewer </h3>
    <p> Our Application acts as a discussion board and journal for users to share their thoughts, recommendations, and
        opinions on particular animes!
    <p>
    <h3> Forum Functions Include: </h3>
    <ul>
        <li>Add A New Anime!</li>
        <li>Edit an Old Anime</li>
        <li>Delete Animes</li>
        <li>Add Characters to an Anime</li>
        <li>Remove Characters from an Anime</li>
        <li>Edit Characters from an Anime</li>
        <li>Add a Review to an Anime </li>
        <li>Delete a Review from an Anime </li>
    </ul>
    <h6 style="font-size: 20px;"> Technologies used to create this platform include: PSQL, Django, Materialize,
        GoogleImageSearch API, AnimeChan API,
        Heroku, Css, and HTML </h6>

    <h3>Developers</h3>
    <div class="row">
        <div class="col s12 m4">
            <h4>TakWai Lo</h4>
            <a href="https://www.linkedin.com/in/tak-wai-lo"><img src="../static/image/LI-In-Bug.png"
                    style="width: 32px;"></a>
            <a href="https://github.com/Takwailo"><img src="../static/image/GitHub-Mark-32px.png"></a>
        </div>
        <div class="col s12 m4">
            <h4>Tien Le</h4>
            <a href="https://www.linkedin.com/in/tien-quang-le/"><img src="../static/image/LI-In-Bug.png"
                    style="width: 32px;"></a>
            <a href="https://github.com/lequangtien728"><img src="../static/image/GitHub-Mark-32px.png"></a>
        </div>
        <div class="col s12 m4">
            <h4>Aamer Shikari</h4>
            <a href="https://www.linkedin.com/in/aamer-shikari/"><img src="../static/image/LI-In-Bug.png"
                    style="width: 32px;"></a>
            <a href="https://github.com/AamerShikari"><img src="../static/image/GitHub-Mark-32px.png"></a>
        </div>
    </div>
</div>
{% endblock %}