{% extends 'base.html' %}
{% block content %}

<div style="text-align: center;">
    <h3> Functionality and Uses for Anime Reviewer </h3>
    <p> Our Application acts as a discussion board and journal for users to share their thoughts, recommendations, and
        opinions on particular animes!
    <p>
    <h3> Forum Functions Include: </h3>
    <ul>
        <li>Add A New Anime!</li>
        <li>Edit an Old Anime</li>
        <li>Delete Animes</li>
        <li>Add Characters to an Anime</li>
        <li>Remove Characters from an Anime</li>
        <li>Edit Characters from an Anime</li>
        <li>Add a Review to an Anime </li>
        <li>Delete a Review from an Anime </li>
    </ul>
    <p> Technologies used to create this platform include: PSQL, Django, Materialize, GoogleImageSearch API, AnimeChan API,
        Heroku, Css, and HTML </p>
</div>
{% endblock %}