{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Animes Reviewer</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	<header class="navbar-fixed">
		<nav>
			<div class="nav-wrapper #000000 black">
				<a href="/" class="brand-logo" style="margin-left: 20px;">Animes Reviewer</a>
				<a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'all_animes' %}">All Animes</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'animes_create' %}">Add an Anime</a></li>
					<li><a href="{% url 'index' %}">My Animes</a></li>
					<li><a href="{% url 'logout' %}">Log Out</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Log In</a></li>
					<li><a href="{% url 'signup' %}">SignUp</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
		<ul class="sidenav" id="mobile">
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'all_animes' %}">All Animes</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url 'animes_create' %}">Add an Anime</a></li>
			<li><a href="{% url 'index' %}">My Animes</a></li>
			<li><a href="{% url 'logout' %}">Log Out</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Log In</a></li>
			<li><a href="{% url 'signup' %}">SignUp</a></li>
			{% endif %}
		</ul>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var elems = document.querySelectorAll('.sidenav');
				var instances = M.Sidenav.init(elems, {})
			});
		</script>

	<main class="container">
		{% block content %}
		{% endblock %}
	</main>
	<footer class="page-footer #000000 black">
		{% if user.is_authenticated %}
			<p>{{user}} is currently logged in.</p>
		{% else %}
			<p>Not log in.</p>
		{% endif %}
	</footer>
</body>

</html>