{% extends 'base.html' %}
{% block content %}
</br>

<div style="display:flex; flex-direction: row;">
  <img src='{{character.img_url}}' height="250px" width="250px">
  <h1 style="margin-left:auto;">{{ character.name }}</h1>
</div>

<div class="card">
    <div class="card-content">
      <p> <strong style="font-weight:700">Description:</strong> {{ character.description }} </p>
      <p> <strong style="font-weight:700">Quote:</strong> {{ character.quote }}</p>
      {% if user == character.anime.user %}
      <div class="card-action">
        <a class="orange-text darken-4" href="{% url 'character_update' character.anime.id character.id %}">Edit</a>
        <a class="orange-text darken-4" href="{% url 'character_delete' character.anime.id character.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
</div>

  <a class="card-panel black lighten-2 white-text btn-small" href="{% url 'characters_index' character.anime.id%}">back to characters list</a>



{% endblock %}