body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  background-color: antiquewhite;
  }
  
  main {
	flex: 1 0 auto;
  }
  
  footer.page-footer {
	padding-top: 0;
	text-align: right;
  }

label {
    color:#2397f2;
    font-weight: 800;

}

a:hover {
  color: red !important;
}

.horizontal p {
  font-size: 20px;
}

.card {
  background-color: white;
}

.card-title {
  font-size: 40px !important;
  font-weight: bold !important;
  text-align: center !important;
}

#index_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 75px;
}
