{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12">
        <h2 class="header" style="text-align:center;">{{anime.title}}</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{anime.img_url}}" height="250px" width="250px">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p><strong>Genre:</strong> {{ anime.category }}</p>
                    <p><strong>Language:</strong> {{ anime.language }}</p>
                    <p><strong>Description:</strong> {{ anime.description }}</p>
                </div>
                <div class="card-action" style="text-align: right;">
                    <a href="{% url 'animes_update' anime.id %}">Edit</a>
                    <a href="{% url 'animes_delete' anime.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="header" style="text-align:center;">Characters</h3>
    {% for character in characters %}
    <a href="{% url 'character_detail' character.anime.id character.id %}" style="color:black;">
        <div class="col s12 m6">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{character.img_url}}" height="100px" width="100px">
                </div>
                <div class="card-stacked">
                    <span class="card-title">{{ character.name }}</span>
                    <p>{{character.description}}</p>
                </div>
            </div>
        </div>
    </a>

    {% endfor %}
    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <a href="{% url 'characters_index' anime.id%}">more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s6 offset-s3 #bdbdbd grey lighten-1">
  <form method="post" action="{% url 'add_review' anime.id %}" class="center-align">
    <div class="blue-text">{% csrf_token > %} {{ form.as_p }}</div>
    <!-- <input type="submit" class="btn waves-effect waves-light" value="Add Review" /> -->
    <button class="btn waves-effect waves-light btn-small " type="submit" name="action">ADD
      <i class="material-icons right ">REVIEW</i>
    </button>
  </form>
</div>
<br>

{% for review in reviews %}
<div class="centered #bdbdbd grey lighten-1">
  <table>
    <thead>
      <div class="row">
          <div class="col s6 center-align z-depth-3">REVIEW</div>
          <div class="col s6 center-align z-depth-3">RATING</div>
      </div>
    </thead>

    <tbody>
      <div class="row">
        <div class="col s6 center-align blue-text left-align">{{review.content}}</div>
        <div class="col s6 center-align blue-text left-align">{{review.rating}}</div>
        </div>
    </tbody>
  </table>

<!-- <tr>
    <li>CONTENT: {{review.content}}</li>
    <li>RATING: {{review.rating}}</li>
</tr> -->


    <div class="card center-align">
     <a href="{% url 'reviews_delete' review.anime.id review.id %}" class="btn-small z-depth-5">Delete</a>
    </div>
{% endfor %}
    
{% endblock %}
