{% extends 'base.html' %}
{% block content %}

<h1>Anime List</h1>
<div class="row">
  {% for anime in animes %}
  <div class="col s12 m6">
    <a href="{% url 'detail' anime.id %}" style="color:black">
      <div class="card horizontal" style="display:flexbox;">
        <div class="card-image">
          <img src="{{anime.img_url}}" height="150px" width="150px" style="min-height: 150px; min-width: 150px; max-height: 150px; max-width: 150px;">
        </div>
        <div class="card-content" id="index_card">
          <span class="card-title">{{ anime.title }}</span>
          <p>{{ anime.category }}</p>
          <p>{{ anime.language }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}